@model MyPortfolioWebApp.Models.Board

@{
    ViewData["Title"] = "글 수정";
}

<section id="board" class="section">
    <div class="container section-title" data-aos="fade-up">
        <h2>자유게시판</h2>
        <p>자유롭게 의견을 나눌 수 있는 공간입니다</p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h4>글 수정</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="Contents" class="control-label"></label>
                <textarea asp-for="Contents" class="form-control editor" rows="10"></textarea>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="저장" class="btn btn-sm btn-success btn-kelly" />
                <a asp-action="Index" class="btn btn-sm btn-secondary">취소</a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
